@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}



.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

ul {
  display: flex;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: gray;
}

.footer {
  background-color: #eeeeee;
}

.footer,
.header {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
}

.right-links,
.left-links {
gap: 16px;
}